body {
  font-family: 'Titillium Web', sans-serif;
}
.header { 
  display: flex;
  position: relative;
  background-image: url("https://f2fanatic.files.wordpress.com/2020/08/we-race-as-one.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
  background-color: rgb(250, 250, 250);
  margin: -10px -10px 0px -10px;
}
#searchBar {
  width: 40%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 14px;
  position: relative;
  top: 0px;
}
.button {
  width: 10%;
  height: 32px;
  z-index: 0;
}
.search-box-dropdown {
  position: relative;
  left: 10px;
  justify-content: space-around;
}
p {
  background-color: rgba(128, 128, 128, 0.25);
  width: 40%;

}
.page-content{
background-image: url("https://i.redd.it/hxwoqirzwll21.png");
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 100vw;
height: 100vh;
position: absolute;
left: 0px;
z-index: -1;
}
displayname {
  background-image: url("https://cdn.realsport101.com/images/ncavvykf/gfinityesports/6c47a6f4b3902586ca8c409438413ca262467881-494x779.png?w=317&h=500&auto=format");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 88px;
  height: 500px;
  width: 317px;
  background-size: cover;
}