.header { 
  display: flex;
  color: silver;
  background-color: crimson;
  margin: -10px -10px 0px -10px;
}
#searchBar {
  width: 40%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.images {
height: 600px;
width: 25vw;
position: absolute;
right: 0px;
background-color: yellow;
}
.page-content{
background-color: #ddd;
height: 600px;
width: 75vw;
position: absolute;
left: 0px;
}
